body {
    background-color:#151515ef;
    color: rgb(201, 199, 199)
}

/*.planeta{
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: hidden; 
    justify-content: center;
    margin-inline: 60px;
    .container{
    height: 100px;
    width: 50px;
    padding: 0;

    }
}*/




