body {
    background-color:#151515ef;
    color: rgb(201, 199, 199)
}

.horizontal{
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: hidden; 
    justify-content: center;
    margin-inline: 60px;
    }
.card-title{
    color: black;
}

.varios{
    width:300px;
    justify-content: center;
    margin:auto;
}




